#wrapper {
	width: 100%;
	height: 100%;
	background: #000;
}
#logo {
	color: #59d624;
	margin-bottom: 30px; 
	text-shadow: 1px 1px 54px rgba(110, 201, 40,1);
}
#menu {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.item:hover {
	background: #848781;
}
#nav {
	margin-right: 10px;
}
.login{
	margin-top: 50px;
	margin-left: 150px;
	color: #ffffff;
	font-size: 16px;
}
.user{
	color:#ff0000;
	font-size: 16px;
}

#content {
	background: linear-gradient(black, lightblue);
	min-height: 700px;
	height: auto;
}
#game {
	background: #0b1e5b;
	margin-top: 50px;
	height: 865px;
	width: 740px;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px #fff;
}
.name {
	font-size: 2em;
	color: white;
	margin-left: 20px; 	
}
.images {
	float: left;
}
.img-responsive{
	margin-left: 40px;
	margin-top: 50px;
}
#tab {
	background: white;
}
#table
{
	background: (rgb(200,200,200));
}
.col {

}
@media screen and (max-width: 800px) {
	#game {
		height: 1400px;
	}
}
.possibility {
}

.dice {
	float: left;
	margin: 5px;
	width: 50px;
	height: 50px;
	background-image: url('../images/dices.png');
}

.dice.face6 {
	background-position: 0 0;
}

.dice.face5 {
	background-position: -50px 0;
}

.dice.face4 {
	background-position: -100px 0;
}

.dice.face3 {
	background-position: -149px 0;
}

.dice.face2 {
	background-position: -199px 0;
}

.dice.face1 {
	background-position: -249px 0;
}

.dice.empty {
	visibility: hidden;
}

.dice.selected {
	background-image: url('../images/red_dices.png');
}

.keep {
	visibility: hidden;
}

.trash {
	visibility: hidden;
}

.score {
	font-family: 'Anaheim', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.scoreone{
	font-family: 'Anaheim', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color:rgb(200,250,100);
}
.score.trashed {
	color: red;
}

.progress {
	margin-bottom: 0;
}
.oneLabel{
	width: ;
}

.section-title {
    text-align: center;
    align-items: -500px;

}

.section-title h2 {
    margin-top: -200;
    font-weight: 50;
    border-bottom: 6px double #24b662;
	border-radius: 25px;
    font-size: 30px;
    padding: 20px 0;
    width: 400px;
	margin-bottom: 1000px;
	margin-left: 30px;
}
.section-title h3 {
    margin-top: 100;
    font-weight: 50;

    font-size: 30px;
    margin: 500 auto;
    padding: 20px 0;
    width: 400px;
	margin-bottom: 20px;
	margin-left: 30px;
}




.section-title p {
    font-weight: 50;
	line-height: 25px;
	margin-bottom: 40px;
	text-align: left;
}

.contact-us {
	background-color:0 0 10px 5px #fff;
}
.containerul{
	text-align: left;
	align-items: left;
}


.form-group {
	margin-bottom: 100px;
}


